body {
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

.navigation__link {
  width: 50%;
  padding: 5px 15px;
  color: #3070ff;
  text-align: center;
  text-decoration: none;
  border: 1px solid #3070FF;
  border-right: none;
}

.navigation__link:hover,
.navigation__link_current {
  color: white;
  background-color: #3070FF;
}

.navigation__link:active,
.navigation__link:focus {
  background-color: #2e66da;
}

.navigation__link:last-child {
  border-right: 1px solid #3070FF;
}

.main,
.navigation {
  box-sizing: border-box;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 15px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.form__element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
}

.form__element:first-child {
  margin-top: 0;
}

.form__element > div,
.form__element .react-datepicker-wrapper,
.form__element .react-datepicker__input-container {
  width: 100%;
}

@media (max-width: 576px) {
  .form__element {
    width: 100%;
    margin-top: 20px;
    margin-right: 0;
  }
}

.label {
  margin-left: 15px;
  font-size: 14px;
}

.input {
  width: 100%;
  margin-top: 5px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.input_error {
  border-color: rgba(255, 34, 9, 0.3);
  box-shadow: 0 0 5px rgba(255, 34, 9, 0.6);
}

.input_done {
  border-color: rgba(0, 178, 86, 0.3);
  box-shadow: 0 0 5px rgba(0, 178, 86, 0.6);
}

.input_submit {
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

.input_submit:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.input_textarea {
  height: 150px;
  resize: none;
}

/* modal styles */

.modal,
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
}

.modal__overlay {
  z-index: 1;
  background-color: rgba(0,0,0,0.3);
}

.modal__body {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  max-width: 400px;
  width: 90vw;
  padding: 20px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 5px 10px;
  font-size: 18px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}